$primary-bg: #97A3B6
$secondary-bg: #F8FAFC
$cream: #F5E8D5
$blue: #3662E3
$bg-primary-progress: #E9A23B
$bg-primary-done: #32D657
$bg-primary-cancelled: #DD524C
$bg-secondary-progress: #F5D565
$bg-secondary-done: #A0ECB1
$bg-secondary-cancelled: #F7D4D3
$secondary-grey: #00000033
$tertiary-grey: #E3E8EF
$rounded: 8px