.item
  display: flex
  align-items: center
  position: relative
  background-color: $secondary-grey
  border-radius: $rounded
  padding: 12px
  cursor: pointer
  .content
    margin-left: 12px
    h3
      margin: 0
    p
      font-weight: 300
      margin: 8px 0 0 0


