.item
  display: flex
  align-items: center
  position: relative
  margin-top: 14px
  background-color: $tertiary-grey
  border-radius: $rounded
  padding: 12px 16px
  .content
    margin-right: auto
    h3
      margin: 0
    p
      font-weight: 300
      margin: 8px 0 0 0
  .icon
    width: 25px
    height: 25px
    margin: 0
    padding: 8px
    border-radius: $rounded
    background: $secondary-grey
    img
      width: 100%
    &:first-child
      margin-right: 12px


