.icons-popover
  position: relative
  .input
    margin-top: 0
    input
      padding: 6px 12px
      width: 200px
  .categories-filter
    width: 228px
    display: flex
    overflow-x: auto
    gap: 4px
    scrollbar-width: none
    label
      cursor: pointer
      border: 1px solid $secondary-grey
      padding: 4px
      margin-bottom: 0
      border-radius: 50px
    .selected
      color: $white
      background-color: $secondary-orange
      border: 1px solid $secondary-orange
  .icons-list
    display: grid
    grid-template-columns: repeat(6, 1fr)
    gap: 2px
    margin-top: 12px
    height: 170px
    overflow-y: scroll
    scrollbar-width: none
    .icon-box
      margin: 0 auto
      width: 20px
      height: 20px

